<h3 class="sorting">Sort by: <%= link_to 'Top', concerns_path(:s => 'top') %>, <%= link_to 'Hot', concerns_path(:s => 'hot') %>, <%= link_to 'New', concerns_path(:s => 'new') %></h3>
 <% profanity_filter = LanguageFilter::Filter.new matchlist: :profanity, creative_letters: true %>
 <% sex_filter = LanguageFilter::Filter.new matchlist: :sex, creative_letters: true %>
 <% hate_filter = LanguageFilter::Filter.new matchlist: :hate, creative_letters: true %>

<% @texts.each do |text| %>
    	<% if profanity_filter.match?(text.content) or sex_filter.match?(text.content) or hate_filter.match?(text.content) %>
    	<% text.update_attribute(:reported, true) %>
    	<% else %>
	    	<% if (text.resolved != true) && (text.reported != true) && (text.texttype == 'Concern') %>
	  			<div class="centeredposts">
	  					<h3><%= link_to text.title, text %><br>
	        				<small class="author">Submitted <%= time_ago_in_words(text.created_at) %> ago by <%= text.user.name %> with a score of <%= (text.get_upvotes.size - text.get_downvotes.size)%></small>
	    				</h3>
	    		<% if current_user.present? %>
					<% if (text.voted_on_by? current_user) %>
						<%= link_to unlike_text_path(text), method: :put, class: "btn btn-default btn-sm" do %>
							<span class="glyphicon glyphicon-minus"></span>
						    Remove Vote
						<% end %>
						<%= link_to like_text_path(text), method: :put, class: "btn btn-default btn-sm" do %>
							<span class="glyphicon glyphicon-chevron-up"></span>
						    Upvote (
						    <%= text.get_upvotes.size %>
						    )
						<% end %>
						<%= link_to dislike_text_path(text), method: :put, class: "btn btn-default btn-sm" do %>
							<span class="glyphicon glyphicon-chevron-down"></span>
						    Downvote (
						    <%= text.get_downvotes.size %>
						    )
						<% end %>
					<% end %>
					<% if !(text.voted_on_by? current_user) %>   
						<%= link_to like_text_path(text), method: :put, class: "btn btn-default btn-sm" do %>
					      <span class="glyphicon glyphicon-chevron-up"></span>
					      Upvote (
					      <%= text.get_upvotes.size %>
					      )
					    <% end %>
					    <%= link_to dislike_text_path(text), method: :put, class: "btn btn-default btn-sm" do %>
					      <span class="glyphicon glyphicon-chevron-down"></span>
					      Downvote (
					      <%= text.get_downvotes.size %>
					      )
					    <% end %>
					<% end %>
				<% end %>
	    	<% end %>
	    <% end %>	
    </div>
<% end %>