<div class="centered">
 <h1><%= @text.title %></a><br>
  <small>Submitted by <%= @text.user.name %> <%= time_ago_in_words(@text.created_at) %> ago.</small>
</h1>
</div>

<div class="postcontent">
	<h4><%= @text.content %>
	</h4>
</div>

<% if (@text.user == current_user && ((Time.now.to_i - @text.created_at.to_i) < 7200)) || (@text.user == User.first) %>
 <div class="btn-group">
  <%= link_to 'Edit', edit_text_path(@text), class: "btn btn-default" %>
 </div>
<% end %>
<% if @text.user == current_user %>
 <div class="btn-group">
  <%= link_to 'Delete', @text, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
 </div>
<% end %>

<div class="btn-group pull-right">
 <%= link_to like_text_path(@text), method: :put, class: "btn btn-default btn-sm" do %>
  <span class="glyphicon glyphicon-chevron-up"></span>
  Upvote
  <%= @text.get_upvotes.size %>
 <% end %>
 <%= link_to dislike_text_path(@text), method: :put, class: "btn btn-default btn-sm" do %>
  <span class="glyphicon glyphicon-chevron-down"></span>
  Downvote
  <%= @text.get_downvotes.size %>
 <% end %>
</div>